body {
    margin: 0;
    padding: 0;
    font: 100% arial, sans-serif;
    background-color: #ccc;
}

div.jumbotron {
    min-height: 70vh;
    background: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    background-size: cover;
    background-position: right-center;
    padding: 2rem;
    text-align: center;
}

div.container {
    padding: 0;
    min-height: 70vh;
    height: auto;
    opacity: .8;
}

nav {
    padding: 10px 0;
}

ul.nav {
    justify-content: flex-end;
}

li.nav-item {
    margin: 10px;
}

a.nav-link {
    color: #ccc;
    border: solid 0.5px #ccc;
}

a.nav-link:hover {
    color: white;
    border-color: white;
}

div.d-flex.flex-column > div {
    justify-content: center;
    height: 3em;
}

div.d-flex.flex-column {
    border-top: solid 0.5px #ccc;
    border-bottom: solid 0.5px #ccc;
}

div.d-flex:nth-child(2) {
    border-top: solid 0.5px #ccc;
    border-bottom: solid 0.5px #ccc;
}

button.btn {
    width: 100%;
    border-radius: 0;
    color: #ccc;
}

button.btn:hover {
    color: white;
}

div.jumbotron h1 {
    color: #ccc;
    padding-top: 9rem;
}

div.jumbotron p {
    color: #ccc;
    padding-bottom: 10rem;
}

section {
    margin: 1rem 0;
    background-color: white;
    padding: .75rem;
}

section h2 {
    border-bottom: 2px solid #ccc;
    padding: .75rem;
    margin: 0;
    background-color: #eee;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

@media (max-width: 960px) {
    li.nav-item:nth-child(1), 
    li.nav-item:nth-child(2),
    li.nav-item:nth-child(3){
    display: none;
    }

    li.nav-item:nth-child(4){
        margin-right: 0;
    }
}

@media (min-width: 960px) {
    li.nav-item:nth-child(4){
    display: none;
    }

    div.collapse {
        display: none;
    }
}





