body {
    margin: 0;
    padding: 0;
    font: 100% arial, sans-serif;
    background-color: #ccc;
}

section {
    margin: 1rem 0;
    background-color: white;
    padding: .75rem;
}

section h2 {
    border-bottom: 2px solid #ccc;
    padding: .75rem;
    margin: 0;
    background-color: #eee;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

.jumbotron {
    min-height: 80vh;
    background-image: url();
    background-size: cover;
    background-position: right-center;
    padding: 10rem 2 rem;
    color: gray;
    text-align: center;
}

.jumbotron h1 {
    margin-top: 4rem;
}

.nav {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 1;
}


